<header>
  <hamburger-toggle state="tgState"></hamburger-toggle>
    <ul ng-show="tgState" class="navH">
      <li ui-sref="usersShow({id: main.currentUserId})">MY PROFILE</li>
      <li ui-sref="usersDashboard({ id: mubeesShow.mubee.id })">DASHBOARD</li>
      <li ui-sref="payments({ id: usersDashboard })">PAYMENT METHODS</li>
    </ul>
</header>

<section>
  <form ng-submit="mubeesEdit.update()">
    <input type="textarea" ng-model="mubeesEdit.mubee.brief" placeholder="brief">
    <input ng-model="mubeesEdit.mubee.location" placeholder="location">
    <input ng-model="mubeesEdit.mubee.budget" placeholder="budget">

      <label>Contract</label>
      <select ng-model="mubeesEdit.mubee.contract_id">
        <option ng-repeat="contract in mubeesEdit.contracts" ng-value="contract.id">{{ contract.title }}</option>
      </select>
      <br>
    <button>SEND CHANGES</button>
  </form>
  <button ng-click="mubeesEdit.delete()">CANCEL MUBEE REQUEST </button>

</section>
