<div class="container">
  <header id="title">
  <h2>[<img src="https://s-media-cache-ak0.pinimg.com/originals/b9/16/c7/b916c7ae897f9cf957e9332b3a042f02.gif" style="width:90px;border-radius:90px;"/> m u b e e ]</h2>
  </header>
  <h4 style="font-style:italic; color:black;">find and work with the best freelancers in the film industry</h4>

    </div>
    </div>
    <div style="width:90%;">
      <div>
        <div class="forms">
          <button class="u-full-width" style="display: block; margin-bottom:10px;"><a class="splashLink" ui-sref="register" ui-sref-active="active">register</button>
            <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click=""><a class="splashLink" ui-sref="login" ui-sref-active="active">login</button>
          <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click="login.authenticate('facebook')">Login with facebook</button>
        </div>
      </div>
    </div>

  </div>
