<div class="container">
  <header>
    <h4><img src="../images/gb.gif" width="40px" alt=""/> M U B E E </h4>
  </header>
  <!-- <div class="row">
    <div class="six columns">
      <div>
      <img src="../images/gb.gif" width="30px" alt=""/>
      </div> -->
    </div>
    </div>
    <div class="row">
      <div class="six columns">
        <!-- <h4> MUBEE</h4> -->

        <div class="forms">
          <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click=""><a ui-sref="register" ui-sref-active="active">register</button>
            <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click=""><a ui-sref="login" ui-sref-active="active">login</button>
          <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click="login.authenticate('facebook')">Login with facebook</button>
        </div>
      </div>
    </div>

  </div>
