<section>
  <header>
    <hamburger-toggle state="tgState"></hamburger-toggle>
    <ul ng-show="tgState" class="navH">
      <li class="logout"><a ng-click="main.logout()">LOG OUT</a></li>
      <li ui-sref="usersShow({id: main.currentUserId})">MY PROFILE</li>
      <li ui-sref="usersDashboard({ id: mubeesShow.mubee.id })">DASHBOARD</li>
      <li ui-sref="payments({ id: usersDashboard })">PAYMENT METHODS</li>
    </ul>
    <div class="alignCenter">
      <img src="https://s-media-cache-ak0.pinimg.com/originals/b9/16/c7/b916c7ae897f9cf957e9332b3a042f02.gif" style="width:90px;border-radius:90px;"/>
    </div>
  </header>

  <ul class="cards">
    <li ng-repeat="user in usersIndex.all" class="four columns cards__single">
        <div class="cards__single-image" style="background-image:url('{{ user.image }}')">
        <div class="cards__single-details">
          <h5 class="titlesNames" ui-sref="usersShow({ id: user.id })">{{ user.full_name }}</h5>
          <h4>{{ user.website }}</h4>
          <h4>{{ user.review.rating }}</h4>
          <!-- <h4 ng-repeat="skill in user.skills">{{skill.name}}</h4> -->
        </div>
      </div>
    </li>
  </ul>
</section>

<!-- "password_digest"
"role"
"facebook"
"twitter"
"instagram"
"location"
"lat"
"lng"
"website" -->

<!-- REQUEST SERVICES (i.e send mubee) -->
