<hamburger-toggle state="tgState"></hamburger-toggle>
<ul ng-show="tgState" class="navH">
  <li class="logout" ng-if="main.isLoggedIn()"><a ng-click="main.logout()">LOG OUT</a></li>
  <li ui-sref="usersShow({id: main.currentUserId})">MY PROFILE</li>
  <li ui-sref="usersDashboard({ id: mubeesShow.mubee.id })">DASHBOARD</li>
</ul>

<div class="containerUserShow">
  <div class="six columns">
    <div class="row">
      <section>
      	<h3 class="titlesNames">{{ usersShow.user.full_name }}</h3>
        <img style="max-width:100px;border-radius:90px;"ng-src="{{ usersShow.user.image }}">

        <h6> <img src="http://www.newdesignfile.com/postpic/2011/10/map-pin-icon-transparent_211221.png"style="max-width:25px;">{{ usersShow.user.location }}</h6>
        <h5 class="list"><ul>
          <li ng-repeat="skill in usersShow.user.skills">{{skill.name}}</li>
        </ul></h5>
        <h5>{{ usersShow.user.website }}</h5>
        <h6> @smlink  </h6>


        <section>
          <button ng-if="!usersShow.isOwnProfile()" ui-sref="mubeesCreate({ crewId: usersShow.user.id })">Request Services</button>

          <button ui-sref="usersEdit({ id: usersShow.user.id })" ng-if="usersShow.isCurrentUser()">Edit Profile</button>
        </section>
      </div>
    </div>
  </div>

  <div class="containerUserReviews">
    <div class="six columns">
      <div class="row">
        <ul>
          <li ng-repeat="review in usersShow.user.reviews_as_producer" style="list-style:none;">
            <h4><br><span style="font-size:22px; color:black;font-style:italic;"> "{{review.body}}"</span><span style="font-weight:bold;font-size:18px;"> - producer </span>
            <div class="stars-container" ng-class="'stars'+usersShow.review.rating">

              <div style="color:gold;"class="star" ng-repeat="star in [1,2,3,4,5]">
              <input type="radio"
                 ng-model="usersShow.review.rating"
                 value={{star}}
                 name="rating{{star}}"
                 id="rating{{star}}"
                 ng-change="string"
                 ng-value={{star}}>
                 <label for="rating{{star}}">&#9733;</label>
               </div>
             </div>
           </h4>
          </li>
          <li ng-repeat="review in usersShow.user.reviews_as_crew" style="list-style:none;">
              <h4><br><span style="font-size:22px; color:black;font-style:italic;"> "{{review.body}}"</span><span style="font-weight:bold;font-size:18px;"> - crew </span>
              <div class="stars-container" ng-class="'stars'+usersShow.review.rating">
              <div style="color:gold;"class="star" ng-repeat="star in [1,2,3,4,5]">
              <input type="radio"
                 ng-model="usersShow.review.rating"
                 value={{star}}
                 name="rating{{star}}"
                 id="rating{{star}}"
                 ng-change="string"
                 ng-value={{star}}>
                 <label for="rating{{star}}">&#9733;</label>
               </div>
             </div>
           </h4>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>





 <!-- "role"
 "facebook"
 "twitter"
 "instagram"
 "location"
  "lat"
  "lng"
 "website"  -->

 <!-- REQUEST SERVICES (i.e send mubee) -->
