<div class="container">
  <header>
    <img src="https://s-media-cache-ak0.pinimg.com/originals/b9/16/c7/b916c7ae897f9cf957e9332b3a042f02.gif" width="90px" alt=""/>
  </header>
  <!-- <div class="row">
    <div class="six columns">
      <div>
      <img src="../images/gb.gif" width="30px" alt=""/>
      </div> -->
    </div>
    </div>
    <div style="width:90%;">
      <div>
        <div class="forms">
          <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click=""><a ui-sref="register" ui-sref-active="active">register</button>
            <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click=""><a ui-sref="login" ui-sref-active="active">login</button>
          <button class="u-full-width" style="display: block; margin-bottom:10px;" ng-click="login.authenticate('facebook')">Login with facebook</button>
        </div>
      </div>
    </div>

  </div>
