<section>
  <h1>choose a crew</h1>
  <ul class="cards">
    <li ng-repeat="user in usersIndex.all" class="four columns cards__single">
        <div class="cards__single-image" style="background-">
        <div class="cards__single-details">
          <h4 ui-sref="usersShow({ id: user.id })">{{ user.full_name }}</h4>
          <h4>{{ user.image }}</h4>
          <h4>{{ user.website }}</h4>
          <h4>{{ user.rating }}</h4>
          <h4 ng-repeat="skill in user.skills">{{skill.name}}</h4>
        </div>
      </div>
    </li>
  </ul>
</section>

<!-- "password_digest"
"role"
"facebook"
"twitter"
"instagram"
"location"
"lat"
"lng"
"website" -->

<!-- REQUEST SERVICES (i.e send mubee) -->
