body {
  font-family: helvetica;
  list-style: none;
  align-items: center;
  margin:10px;
  padding:10px;
  margin-left:15%;
  margin-top: 2%;
}
.searchCrew {
  margin:15px;

}
#title {
  color:black;
  background-color: white;
  border-bottom: 2px solid black;
  opacity: 0.6;
  text-align: center;
  padding:10px;
  font-family: 'Averia Sans Libre';
  font-weight: bold;
  margin: 15px;
}
.mubeeReq {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom:15px;
  display: inline-block;
}
.mubeeShowForm{
  // text-align: center;
}
.titlesNames{
  font-family: 'Julius Sans One', sans-serif;

}
.mubeeShow {
  font-weight: bold;
  font-size: 17px;
}
.list {
font-style: italic;
 font-size: 18px;
}
#mubeeShow {
  font-size: 30px;
}
#sendReview {
  // font-style: italic;
  font-size: 19px;
  font-weight: bold;
  color:#ffc6fa;
}
.alignCenter{
  text-align: center;
  align-items: center;
}
.navH{
  list-style: none;
}


.container1 {
  margin-top: 15px;
}
.controller2 {
  margin-top: 15px;


}
.drag-drop {
  min-height: 200px;
  max-width: 250px;
  background-color: #fafafa;
  border-radius: 5px;
  line-height: 0;

  img {
    width: 100%;

  }
  &.active {
    background-color: #black;
  }
}

.column {
       float: left;
       width: 50%; /* 50% for two columns, 33.33% for three etc */
   }

   button {
     background-color: #ffc6fa;
     border-radius: 80px;
     color: white;
   }

.container {
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  opacity: 0.6;
}
.dashboardHeader{
  border-bottom: 5px solid black;
  align-items: center;
  text-align: center;
}
#searchC {
  border-radius: 0px;
  font-weight: bold;
  color: black;
  background-color: white;
  font-size: 20px;
}
a {
  text-decoration: none;
  color: gray;
}

.splashLink {
  color: white;
}

a:hover {
  color:#ffc6fa;
}
li {
  // list-style: none;
}

h4 a {
  &.accepted {
    color: #ffff87;
  }
}

.stars-container {
  display: block;
  &.stars1 {
    div {
      &:nth-child(1) {
        label {
          color: gold;
        }
      }
    }
  }
  &.stars2 {
    div {
      &:nth-child(1), &:nth-child(2) {
        label {
          color: gold;
        }
      }
    }
  }
  &.stars3 {
    div {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        label {
          color: gold;
        }
      }
    }
  }
  &.stars4 {
    div {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        label {
          color: gold;
        }
      }
    }
  }
  &.stars5 {
    div {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        label {
          color: gold;
        }
      }
    }
  }
  .star {
    display: inline-block;
    input[type="radio"] {
      display: none;
    }
  }
}
