body {
  background-color: #edf3fc;
  color: gray;
  font-family: helvetica;
  list-style: none;
  align-items: center;
  text-align: center;
  margin:50px;
  padding:10px;
}
.drag-drop {
  min-height: 300px;
  background-color: #fafafa;
  border-radius: 5px;
  line-height: 0;

  img {
    width: 100%;

  }
  &.active {
    background-color: #black;


  }
}

.column {
       float: left;
       width: 50%; /* 50% for two columns, 33.33% for three etc */
   }

.title {
  color:white;
  background-color: black;
  opacity: 0.6;
}
.container {
  background-color: white;
  margin: 10px;
  border-radius: 10px;
  opacity: 0.6;
}

// .container1 {
//   li:nth-child(2n+1) {
//     margin-left: 0;
//   }
// }

a {
  color:gray;
  text-decoration: none;
}

a:hover {
  color:#ffff87;
}
li {
  list-style: none;
}
button  {
  color: gray;
}
h4 a {
  &.accepted {
    color: #ffff87;
  }
}

.stars-container {
  display: block;
  &.stars1 {
    div {
      &:nth-child(1) {
        label {
          color: gold;
        }
      }
    }
  }
  &.stars2 {
    div {
      &:nth-child(1), &:nth-child(2) {
        label {
          color: gold;
        }
      }
    }
  }
  &.stars3 {
    div {
      &:nth-child(1), &:nth-child(2), &:nth-child(3) {
        label {
          color: gold;
        }
      }
    }
  }
  &.stars4 {
    div {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4) {
        label {
          color: gold;
        }
      }
    }
  }
  &.stars5 {
    div {
      &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5) {
        label {
          color: gold;
        }
      }
    }
  }
  .star {
    display: inline-block;
    input[type="radio"] {
      display: none;
    }
  }
}
